In [19]:
# here we are doing the data cleaning of our training data for titanic

import pandas as pd
x=pd.read_csv("D:/python/CSV Files/train.csv")
x

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
x.shape

(891, 12)

In [21]:
x.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [22]:
x=x.drop('Cabin',axis=1)

In [23]:
x.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [24]:
x["Age"].mean()

29.69911764705882

In [25]:
x['Age'].fillna(x['Age'].mean(),inplace=True)

In [26]:
x.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [17]:
x['Embarked'].fillna(x['Embarked'].mode()[0],inplace=True)

In [18]:
x.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [44]:
# creating the training feature and target tables
train_target=x['Survived']
train_feature=x.drop(['Survived','Survived','Name','Ticket','Embarked','PassengerId'],axis=1)
train_feature=pd.get_dummies(train_feature,columns=['Sex'])
train_target=pd.get_dummies(train_target,columns=['Survived'])
train_target.columns=['Not_Survived','Survived']

In [34]:
train_feature

     Pclass        Age  SibSp  Parch     Fare  Sex_female  Sex_male
0         3  22.000000      1      0   7.2500           0         1
1         1  38.000000      1      0  71.2833           1         0
2         3  26.000000      0      0   7.9250           1         0
3         1  35.000000      1      0  53.1000           1         0
4         3  35.000000      0      0   8.0500           0         1
..      ...        ...    ...    ...      ...         ...       ...
886       2  27.000000      0      0  13.0000           0         1
887       1  19.000000      0      0  30.0000           1         0
888       3  29.699118      1      2  23.4500           1         0
889       1  26.000000      0      0  30.0000           0         1
890       3  32.000000      0      0   7.7500           0         1

[891 rows x 7 columns]

In [45]:
train_feature.shape

(891, 7)

In [46]:
train_target.shape

(891, 2)

In [47]:
train_target.head()

   Not_Survived  Survived
0             1         0
1             0         1
2             0         1
3             0         1
4             1         0

In [86]:
# model to predict who will survive in titanic incedent
 
import keras 
from keras.layers import Dense
from keras.models import Sequential

# model architecture

model=Sequential()
model.add(Dense(1700,activation='relu',input_shape=(7,)))
model.add(Dense(1300,activation='relu'))
model.add(Dense(1200,activation='relu'))
model.add(Dense(1100,activation='relu'))
model.add(Dense(1000,activation='relu'))
model.add(Dense(900,activation='relu'))
model.add(Dense(800,activation='relu'))
model.add(Dense(700,activation='relu'))
model.add(Dense(600,activation='relu'))
model.add(Dense(500,activation='relu'))
model.add(Dense(400,activation='relu'))
model.add(Dense(300,activation='relu'))
model.add(Dense(2,activation='softmax'))
  

# model compilation

model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

# fitting the model

model.fit(train_feature,train_target,epochs=45)

Epoch 1/45
28/28 [==============================] - 3s 81ms/step - loss: 0.9311 - accuracy: 0.6043
Epoch 2/45
28/28 [==============================] - 2s 66ms/step - loss: 0.6402 - accuracy: 0.7051
Epoch 3/45
28/28 [==============================] - 2s 65ms/step - loss: 0.6514 - accuracy: 0.6283
Epoch 4/45
28/28 [==============================] - 2s 68ms/step - loss: 0.6071 - accuracy: 0.7045
Epoch 5/45
28/28 [==============================] - 2s 69ms/step - loss: 0.5736 - accuracy: 0.6790
Epoch 6/45
28/28 [==============================] - 2s 67ms/step - loss: 0.5206 - accuracy: 0.7728
Epoch 7/45
28/28 [==============================] - 2s 66ms/step - loss: 0.5239 - accuracy: 0.7561
Epoch 8/45
28/28 [==============================] - 2s 66ms/step - loss: 0.4913 - accuracy: 0.7962
Epoch 9/45
28/28 [==============================] - 2s 66ms/step - loss: 0.4903 - accuracy: 0.7802
Epoch 10/45
28/28 [==============================] - 2s 67ms/step - loss: 0.5812 - accuracy: 0.7340
Epoch 11/45
28/28 [==============================] - 2s 66ms/step - loss: 0.5349 - accuracy: 0.7656
Epoch 12/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4709 - accuracy: 0.8053
Epoch 13/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4665 - accuracy: 0.8110
Epoch 14/45
28/28 [==============================] - 2s 67ms/step - loss: 0.5217 - accuracy: 0.7733
Epoch 15/45
28/28 [==============================] - 2s 66ms/step - loss: 0.4751 - accuracy: 0.7910
Epoch 16/45
28/28 [==============================] - 2s 66ms/step - loss: 0.4824 - accuracy: 0.7901
Epoch 17/45
28/28 [==============================] - 2s 67ms/step - loss: 0.5242 - accuracy: 0.7935
Epoch 18/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4535 - accuracy: 0.8123
Epoch 19/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4690 - accuracy: 0.8034
Epoch 20/45
28/28 [==============================] - 2s 66ms/step - loss: 0.4744 - accuracy: 0.8040
Epoch 21/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4774 - accuracy: 0.7856
Epoch 22/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4292 - accuracy: 0.8183
Epoch 23/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4883 - accuracy: 0.8003
Epoch 24/45
28/28 [==============================] - 2s 68ms/step - loss: 0.4276 - accuracy: 0.8148
Epoch 25/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4481 - accuracy: 0.8127
Epoch 26/45
28/28 [==============================] - 2s 68ms/step - loss: 0.4555 - accuracy: 0.8044
Epoch 27/45
28/28 [==============================] - 2s 66ms/step - loss: 0.5792 - accuracy: 0.6809
Epoch 28/45
28/28 [==============================] - 2s 66ms/step - loss: 0.4445 - accuracy: 0.8202
Epoch 29/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4618 - accuracy: 0.8118
Epoch 30/45
28/28 [==============================] - 2s 66ms/step - loss: 0.4864 - accuracy: 0.7788
Epoch 31/45
28/28 [==============================] - 2s 66ms/step - loss: 0.4658 - accuracy: 0.7979
Epoch 32/45
28/28 [==============================] - 2s 66ms/step - loss: 0.4438 - accuracy: 0.8225
Epoch 33/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4460 - accuracy: 0.8239
Epoch 34/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4286 - accuracy: 0.8298
Epoch 35/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4289 - accuracy: 0.8273
Epoch 36/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4564 - accuracy: 0.7962
Epoch 37/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4350 - accuracy: 0.8071
Epoch 38/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4246 - accuracy: 0.8242
Epoch 39/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4022 - accuracy: 0.8354
Epoch 40/45
28/28 [==============================] - 2s 66ms/step - loss: 0.4307 - accuracy: 0.8126
Epoch 41/45
28/28 [==============================] - 2s 68ms/step - loss: 0.3824 - accuracy: 0.8585
Epoch 42/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4344 - accuracy: 0.8264
Epoch 43/45
28/28 [==============================] - 2s 67ms/step - loss: 0.4291 - accuracy: 0.8089
Epoch 44/45
28/28 [==============================] - 2s 66ms/step - loss: 0.4119 - accuracy: 0.8525
Epoch 45/45
28/28 [==============================] - 2s 66ms/step - loss: 0.4091 - accuracy: 0.8297

In [88]:
raw=pd.read_csv('D:/python/CSV Files/test.csv')

In [90]:
raw

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [92]:
test_feature=raw.drop(['PassengerId','Name','Ticket','Cabin','Embarked'],axis=1)
test_feature

     Pclass     Sex   Age  SibSp  Parch      Fare
0         3    male  34.5      0      0    7.8292
1         3  female  47.0      1      0    7.0000
2         2    male  62.0      0      0    9.6875
3         3    male  27.0      0      0    8.6625
4         3  female  22.0      1      1   12.2875
..      ...     ...   ...    ...    ...       ...
413       3    male   NaN      0      0    8.0500
414       1  female  39.0      0      0  108.9000
415       3    male  38.5      0      0    7.2500
416       3    male   NaN      0      0    8.0500
417       3    male   NaN      1      1   22.3583

[418 rows x 6 columns]

In [94]:
test_feature=pd.get_dummies(test_feature,columns=['Sex'])

In [97]:
test_feature.isna().sum()

Pclass         0
Age           86
SibSp          0
Parch          0
Fare           1
Sex_female     0
Sex_male       0
dtype: int64

In [109]:
test_feature['Age'].fillna(test_feature['Age'].mean(),inplace=True)

In [110]:
test_feature.isna().sum()

Pclass        0
Age           0
SibSp         0
Parch         0
Fare          0
Sex_female    0
Sex_male      0
dtype: int64

In [111]:
test_feature

     Pclass       Age  SibSp  Parch      Fare  Sex_female  Sex_male
0         3  34.50000      0      0    7.8292           0         1
1         3  47.00000      1      0    7.0000           1         0
2         2  62.00000      0      0    9.6875           0         1
3         3  27.00000      0      0    8.6625           0         1
4         3  22.00000      1      1   12.2875           1         0
..      ...       ...    ...    ...       ...         ...       ...
413       3  30.27259      0      0    8.0500           0         1
414       1  39.00000      0      0  108.9000           1         0
415       3  38.50000      0      0    7.2500           0         1
416       3  30.27259      0      0    8.0500           0         1
417       3  30.27259      1      1   22.3583           0         1

[418 rows x 7 columns]

In [112]:
model.predict(test_feature)

array([[0.8679322 , 0.1320678 ],
       [0.68016124, 0.3198388 ],
       [0.898282  , 0.10171802],
       [0.84890395, 0.15109608],
       [0.54337484, 0.45662513],
       [0.76489896, 0.235101  ],
       [0.5365201 , 0.46347985],
       [0.8505984 , 0.1494016 ],
       [0.4418773 , 0.55812263],
       [0.86130023, 0.13869971],
       [0.8575059 , 0.14249411],
       [0.81586415, 0.18413587],
       [0.5133064 , 0.48669368],
       [0.8948743 , 0.10512576],
       [0.41200176, 0.5879982 ],
       [0.35590503, 0.644095  ],
       [0.8580209 , 0.14197907],
       [0.82909465, 0.17090538],
       [0.5927627 , 0.40723732],
       [0.5773337 , 0.42266628],
       [0.7699815 , 0.23001847],
       [0.5369894 , 0.46301058],
       [0.13305414, 0.86694586],
       [0.7197396 , 0.28026035],
       [0.7990015 , 0.20099849],
       [0.8998542 , 0.10014586],
       [0.36980778, 0.6301922 ],
       [0.8346506 , 0.16534942],
       [0.7709425 , 0.22905746],
       [0.86839426, 0.13160571],
       [0.885539  , 0.114461  ],
       [0.8705533 , 0.12944673],
       [0.6570392 , 0.3429607 ],
       [0.68624765, 0.31375238],
       [0.8049791 , 0.1950209 ],
       [0.8174883 , 0.18251172],
       [0.5345682 , 0.46543175],
       [0.45493117, 0.5450688 ],
       [0.8434759 , 0.15652408],
       [0.8196621 , 0.1803379 ],
       [0.8755312 , 0.12446875],
       [0.77159417, 0.22840591],
       [0.88294536, 0.11705467],
       [0.32703695, 0.6729631 ],
       [0.3774521 , 0.62254786],
       [0.8428678 , 0.15713225],
       [0.7851455 , 0.21485445],
       [0.8574842 , 0.14251578],
       [0.4282092 , 0.5717909 ],
       [0.6348603 , 0.3651397 ],
       [0.80903244, 0.19096753],
       [0.83699244, 0.16300753],
       [0.6674796 , 0.3325204 ],
       [0.8019167 , 0.19808324],
       [0.84644246, 0.15355754],
       [0.91384983, 0.08615018],
       [0.86908734, 0.13091275],
       [0.84276795, 0.15723203],
       [0.8632931 , 0.13670686],
       [0.76037747, 0.23962258],
       [0.8054893 , 0.1945107 ],
       [0.8517582 , 0.14824176],
       [0.81429833, 0.1857017 ],
       [0.4877643 , 0.5122357 ],
       [0.7638405 , 0.23615953],
       [0.28888473, 0.71111536],
       [0.43002692, 0.5699731 ],
       [0.70537204, 0.294628  ],
       [0.7630387 , 0.2369613 ],
       [0.8075604 , 0.19243963],
       [0.5082461 , 0.49175388],
       [0.8293108 , 0.17068923],
       [0.531816  , 0.468184  ],
       [0.7597353 , 0.24026467],
       [0.7009263 , 0.29907376],
       [0.8013328 , 0.19866718],
       [0.8575302 , 0.14246984],
       [0.4446371 , 0.55536294],
       [0.8468647 , 0.15313536],
       [0.5082461 , 0.49175388],
       [0.10168351, 0.8983165 ],
       [0.8319002 , 0.16809982],
       [0.8214746 , 0.17852537],
       [0.8575059 , 0.14249411],
       [0.8474594 , 0.15254061],
       [0.8623096 , 0.1376904 ],
       [0.5258506 , 0.47414947],
       [0.42693546, 0.5730645 ],
       [0.5364819 , 0.46351814],
       [0.0976585 , 0.90234154],
       [0.56690824, 0.43309173],
       [0.8574873 , 0.14251263],
       [0.43104562, 0.56895435],
       [0.8575302 , 0.14246984],
       [0.7546592 , 0.24534085],
       [0.8428203 , 0.15717968],
       [0.5262052 , 0.47379482],
       [0.85416687, 0.14583312],
       [0.45826182, 0.5417382 ],
       [0.86421746, 0.13578258],
       [0.3849347 , 0.6150653 ],
       [0.84880096, 0.15119907],
       [0.8574842 , 0.14251578],
       [0.84576774, 0.15423223],
       [0.38829914, 0.6117009 ],
       [0.84699756, 0.15300238],
       [0.8292867 , 0.17071329],
       [0.8574842 , 0.14251578],
       [0.85765254, 0.1423474 ],
       [0.7948161 , 0.2051839 ],
       [0.8667547 , 0.13324529],
       [0.53630286, 0.46369717],
       [0.13643184, 0.8635682 ],
       [0.44791615, 0.55208385],
       [0.7418031 , 0.25819683],
       [0.81993586, 0.18006417],
       [0.8585176 , 0.14148243],
       [0.10993652, 0.89006346],
       [0.662112  , 0.33788797],
       [0.36392215, 0.6360779 ],
       [0.15270366, 0.8472963 ],
       [0.85882145, 0.14117853],
       [0.38719648, 0.6128035 ],
       [0.851361  , 0.14863905],
       [0.8574842 , 0.14251578],
       [0.47381184, 0.52618814],
       [0.8331139 , 0.16688609],
       [0.6958673 , 0.3041327 ],
       [0.8686839 , 0.13131616],
       [0.83982164, 0.16017832],
       [0.8618637 , 0.13813636],
       [0.8135767 , 0.18642329],
       [0.66324675, 0.33675325],
       [0.8593864 , 0.14061357],
       [0.88710135, 0.11289861],
       [0.8397581 , 0.16024192],
       [0.84712183, 0.15287817],
       [0.83501935, 0.16498058],
       [0.4923417 , 0.50765824],
       [0.89901274, 0.10098728],
       [0.9132967 , 0.08670329],
       [0.6094286 , 0.3905714 ],
       [0.86654913, 0.13345091],
       [0.82641107, 0.17358887],
       [0.8026061 , 0.19739386],
       [0.8617931 , 0.13820682],
       [0.6711035 , 0.32889652],
       [0.8331904 , 0.16680968],
       [0.77159417, 0.22840591],
       [0.85722727, 0.14277272],
       [0.47050458, 0.5294955 ],
       [0.8575059 , 0.14249411],
       [0.89478034, 0.10521968],
       [0.6441975 , 0.35580248],
       [0.91419023, 0.08580977],
       [0.8396623 , 0.16033763],
       [0.70306736, 0.29693267],
       [0.49628088, 0.50371915],
       [0.8026061 , 0.19739386],
       [0.583152  , 0.41684803],
       [0.53658426, 0.46341577],
       [0.38411567, 0.6158843 ],
       [0.28785145, 0.71214855],
       [0.8577829 , 0.14221707],
       [0.8671584 , 0.13284151],
       [0.6571276 , 0.34287238],
       [0.6661461 , 0.3338539 ],
       [0.87618434, 0.12381563],
       [0.1319503 , 0.8680497 ],
       [0.46131527, 0.5386847 ],
       [0.85752666, 0.14247333],
       [0.8485533 , 0.15144671],
       [0.8409509 , 0.15904905],
       [0.857661  , 0.14233902],
       [0.87697583, 0.12302419],
       [0.34561968, 0.6543804 ],
       [0.29094103, 0.709059  ],
       [0.7827923 , 0.21720764],
       [0.47768024, 0.5223197 ],
       [0.5333936 , 0.46660644],
       [0.8468647 , 0.15313536],
       [0.82707447, 0.17292549],
       [0.36749294, 0.6325071 ],
       [0.8574842 , 0.14251578],
       [0.74530274, 0.2546973 ],
       [0.86532897, 0.13467109],
       [0.31008038, 0.6899196 ],
       [0.79845804, 0.20154196],
       [0.96654874, 0.03345123],
       [0.865732  , 0.13426799],
       [0.86348087, 0.1365191 ],
       [0.77438474, 0.2256153 ],
       [0.72198576, 0.2780142 ],
       [0.8918792 , 0.10812081],
       [0.33952174, 0.6604783 ],
       [0.86427265, 0.13572733],
       [0.55297536, 0.44702464],
       [0.4318966 , 0.5681034 ],
       [0.825381  , 0.174619  ],
       [0.53413844, 0.46586156],
       [0.42564666, 0.57435334],
       [0.05861142, 0.94138855],
       [0.8323066 , 0.16769335],
       [0.5063188 , 0.4936812 ],
       [0.8326317 , 0.1673683 ],
       [0.77571887, 0.22428122],
       [0.547093  , 0.45290703],
       [0.829174  , 0.17082603],
       [0.13351746, 0.86648256],
       [0.84285706, 0.157143  ],
       [0.85955125, 0.14044878],
       [0.8577508 , 0.14224921],
       [0.7299457 , 0.27005428],
       [0.5206761 , 0.47932395],
       [0.54751295, 0.45248705],
       [0.7029088 , 0.29709122],
       [0.53568095, 0.4643191 ],
       [0.8138505 , 0.1861495 ],
       [0.7342306 , 0.26576936],
       [0.8575302 , 0.14246984],
       [0.38547322, 0.6145268 ],
       [0.82936335, 0.17063667],
       [0.2878367 , 0.71216327],
       [0.82927865, 0.17072132],
       [0.28886002, 0.71114   ],
       [0.60736614, 0.3926339 ],
       [0.83654004, 0.16345991],
       [0.5364819 , 0.46351814],
       [0.88138866, 0.1186113 ],
       [0.8597334 , 0.1402666 ],
       [0.71306777, 0.28693223],
       [0.12445251, 0.87554747],
       [0.829499  , 0.170501  ],
       [0.85750324, 0.14249672],
       [0.7784512 , 0.22154883],
       [0.8251385 , 0.17486154],
       [0.71549463, 0.2845053 ],
       [0.8249874 , 0.17501263],
       [0.40133688, 0.59866315],
       [0.5608885 , 0.43911147],
       [0.31400752, 0.68599254],
       [0.44301948, 0.55698055],
       [0.8131814 , 0.18681854],
       [0.8575046 , 0.1424954 ],
       [0.8587088 , 0.14129122],
       [0.8041918 , 0.19580816],
       [0.17061968, 0.82938033],
       [0.88131887, 0.11868113],
       [0.36392215, 0.6360779 ],
       [0.59094083, 0.40905914],
       [0.11329005, 0.88671   ],
       [0.8251496 , 0.17485034],
       [0.7994858 , 0.20051421],
       [0.84031   , 0.15968998],
       [0.8632685 , 0.13673148],
       [0.85752666, 0.14247331],
       [0.8574842 , 0.14251578],
       [0.8514699 , 0.1485301 ],
       [0.26200905, 0.7379909 ],
       [0.82927203, 0.17072797],
       [0.8779563 , 0.12204369],
       [0.8292974 , 0.17070255],
       [0.3802227 , 0.6197773 ],
       [0.10905153, 0.8909485 ],
       [0.84686786, 0.15313214],
       [0.8575059 , 0.14249411],
       [0.89016664, 0.1098334 ],
       [0.85752666, 0.14247333],
       [0.5345682 , 0.46543175],
       [0.80573535, 0.19426464],
       [0.65970355, 0.34029645],
       [0.8574842 , 0.14251578],
       [0.608823  , 0.391177  ],
       [0.58606523, 0.41393474],
       [0.85766286, 0.14233713],
       [0.34929377, 0.65070623],
       [0.8415401 , 0.15845987],
       [0.87391865, 0.12608135],
       [0.8541881 , 0.14581195],
       [0.82106996, 0.17893007],
       [0.47970587, 0.5202941 ],
       [0.06718384, 0.9328162 ],
       [0.5364819 , 0.46351814],
       [0.55414647, 0.4458535 ],
       [0.1098565 , 0.89014345],
       [0.8721321 , 0.12786786],
       [0.85765153, 0.14234848],
       [0.7959435 , 0.20405647],
       [0.857661  , 0.14233902],
       [0.8575302 , 0.14246984],
       [0.70268077, 0.29731923],
       [0.5406072 , 0.4593927 ],
       [0.857661  , 0.14233902],
       [0.8067316 , 0.19326843],
       [0.87082905, 0.12917098],
       [0.8458136 , 0.1541865 ],
       [0.11419795, 0.88580203],
       [0.86839426, 0.13160571],
       [0.6814004 , 0.31859958],
       [0.85415477, 0.14584526],
       [0.8619284 , 0.13807154],
       [0.84671116, 0.15328886],
       [0.87412065, 0.12587933],
       [0.84004754, 0.15995246],
       [0.5364819 , 0.46351814],
       [0.48790833, 0.5120917 ],
       [0.846796  , 0.15320405],
       [0.0562421 , 0.9437579 ],
       [0.7981876 , 0.20181236],
       [0.6314087 , 0.36859134],
       [0.81439024, 0.18560974],
       [0.8328926 , 0.16710733],
       [0.85751754, 0.14248243],
       [0.55182534, 0.4481747 ],
       [0.5840239 , 0.4159761 ],
       [0.41815445, 0.5818455 ],
       [0.777636  , 0.22236404],
       [0.80276465, 0.1972353 ],
       [0.84864235, 0.15135764],
       [0.86849254, 0.13150747],
       [0.84576774, 0.15423223],
       [0.8426531 , 0.15734693],
       [0.83501935, 0.16498058],
       [0.7790075 , 0.2209925 ],
       [0.70238805, 0.2976119 ],
       [0.83631897, 0.163681  ],
       [0.7278971 , 0.27210292],
       [0.6644002 , 0.3355998 ],
       [0.85327536, 0.14672466],
       [0.81246054, 0.18753947],
       [0.45549646, 0.5445035 ],
       [0.7729835 , 0.22701651],
       [0.85766286, 0.14233713],
       [0.5894003 , 0.41059968],
       [0.8486496 , 0.15135032],
       [0.7736109 , 0.22638908],
       [0.85178244, 0.14821762],
       [0.8752902 , 0.12470981],
       [0.80106235, 0.19893764],
       [0.857661  , 0.14233902],
       [0.7953143 , 0.20468573],
       [0.8619911 , 0.13800886],
       [0.9042723 , 0.09572763],
       [0.8878727 , 0.11212727],
       [0.8564158 , 0.14358427],
       [0.40491548, 0.59508455],
       [0.83501935, 0.16498058],
       [0.5581054 , 0.44189456],
       [0.82698756, 0.17301248],
       [0.2878105 , 0.7121895 ],
       [0.39981437, 0.60018563],
       [0.8326317 , 0.1673683 ],
       [0.73135436, 0.2686456 ],
       [0.8895895 , 0.11041056],
       [0.10413109, 0.8958689 ],
       [0.82346773, 0.17653225],
       [0.47887647, 0.5211235 ],
       [0.85750324, 0.14249672],
       [0.8574842 , 0.14251578],
       [0.5851608 , 0.41483924],
       [0.9823706 , 0.01762936],
       [0.44825768, 0.55174226],
       [0.2878105 , 0.7121895 ],
       [0.84890395, 0.15109608],
       [0.37533227, 0.6246677 ],
       [0.84996784, 0.15003213],
       [0.86231214, 0.1376878 ],
       [0.3678444 , 0.6321556 ],
       [0.38407594, 0.6159241 ],
       [0.8438034 , 0.1561966 ],
       [0.82229644, 0.17770348],
       [0.5812904 , 0.4187096 ],
       [0.9287154 , 0.07128464],
       [0.87158126, 0.12841868],
       [0.5350547 , 0.46494535],
       [0.7694315 , 0.23056857],
       [0.48045644, 0.5195436 ],
       [0.81457293, 0.1854271 ],
       [0.6684255 , 0.3315744 ],
       [0.89618796, 0.10381197],
       [0.8574842 , 0.14251578],
       [0.84580725, 0.15419275],
       [0.4358038 , 0.5641962 ],
       [0.5807013 , 0.4192987 ],
       [0.84755707, 0.15244298],
       [0.55927753, 0.4407225 ],
       [0.83973396, 0.1602661 ],
       [0.88714284, 0.1128572 ],
       [0.829264  , 0.170736  ],
       [0.8590135 , 0.1409865 ],
       [0.6795691 , 0.3204309 ],
       [0.34134513, 0.6586549 ],
       [0.6398761 , 0.36012396],
       [0.8776898 , 0.12231016],
       [0.8639937 , 0.13600633],
       [0.39892223, 0.6010777 ],
       [0.83955866, 0.16044137],
       [0.52940136, 0.4705986 ],
       [0.83310527, 0.16689467],
       [0.8593915 , 0.14060855],
       [0.62967694, 0.37032303],
       [0.8718147 , 0.12818529],
       [0.35991395, 0.64008605],
       [0.6674166 , 0.33258343],
       [0.849829  , 0.15017101],
       [0.80439997, 0.19560005],
       [0.82916814, 0.1708318 ],
       [0.8345741 , 0.16542593],
       [0.5366604 , 0.46333966],
       [0.10774065, 0.8922593 ],
       [0.5364819 , 0.46351814],
       [0.5325308 , 0.46746922],
       [0.5298005 , 0.47019953],
       [0.8575302 , 0.14246984],
       [0.5387524 , 0.46124765],
       [0.8781523 , 0.1218477 ],
       [0.8575302 , 0.14246985],
       [0.861986  , 0.13801405]], dtype=float32)

In [113]:
# convert array into dataframe

result=pd.DataFrame(model.predict(test_feature))

In [114]:
result.to_csv("Prediction.csv")

In [118]:
test=pd.read_csv('D:/python/CSV Files/Prediction.csv')

In [119]:
test

     Unnamed: 0  Not_Survived  Survived
0             0      0.867932  0.132068
1             1      0.680161  0.319839
2             2      0.898282  0.101718
3             3      0.848904  0.151096
4             4      0.543375  0.456625
..          ...           ...       ...
413         413      0.857530  0.142470
414         414      0.538752  0.461248
415         415      0.878152  0.121848
416         416      0.857530  0.142470
417         417      0.861986  0.138014

[418 rows x 3 columns]

In [124]:
import numpy as np
Survived = np.argmax(model.predict(test_feature), axis=1)

In [125]:
Survived

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [192]:
type(Survived)

pandas.core.frame.DataFrame

In [170]:
Survived=pd.DataFrame(Survived)

In [199]:
Survived.to_csv('D:/python/CSV Files/Predictions.csv')

In [202]:
may=pd.read_csv('D:/python/CSV Files/Predictions.csv')

In [203]:
may

     PassengerId  0
0              0  0
1              1  0
2              2  0
3              3  0
4              4  0
..           ... ..
413          413  0
414          414  0
415          415  0
416          416  0
417          417  0

[418 rows x 2 columns]

In [204]:
gray=may['PassengerId'].add(892)

In [209]:
gray

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [210]:
gray.to_csv('D:/python/CSV Files/Final_Predictions.csv')

In [213]:
Survived = may["0"]

In [214]:
gray = pd.concat([gray,Survived], axis = 1)

In [215]:
gray

     PassengerId  0
0            892  0
1            893  0
2            894  0
3            895  0
4            896  0
..           ... ..
413         1305  0
414         1306  0
415         1307  0
416         1308  0
417         1309  0

[418 rows x 2 columns]

In [216]:
gray.to_csv('D:/python/CSV Files/Final_Predictions.csv')

In [231]:
gray=pd.read_csv('D:/python/CSV Files/Final_Predictions.csv',index_col=0)

In [232]:
gray

       s  PassengerId  Survived
0      0          892         0
1      1          893         0
2      2          894         0
3      3          895         0
4      4          896         0
..   ...          ...       ...
413  413         1305         0
414  414         1306         0
415  415         1307         0
416  416         1308         0
417  417         1309         0

[418 rows x 3 columns]

In [233]:
gray.drop('s',axis=1)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         0
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [234]:
gray.to_csv('D:/python/CSV Files/Final_Predictions.csv')